@{
  Layout = "_Layout";
}

  <div class='container'>
    <div class="alert alert-danger">
      <strong>Warning:</strong> Deleting a stylists cannot be undone!
    </div>
    <p>Are you sure you want to delete @Model.FirstName @Model.LastName?</p>
    <div class="row">
      <div class="col-md-1">
        <form action="/stylists/@Model.Id/delete" method="post">
          <button class="btn btn-success">Yes, Do It!</button>
        </form>
      </div>
      <div class="col-md-1">
        <a href="/stylists" class="btn btn-danger">No, Stop!</a>
      </div>
    </div>
  </div>