@{
  Layout = "_Layout";
}
  <div class='container'>
    <div class="home-info">
      <h1 class="home-text">Murph's Barbershop</h1>
      <!-- <h1 class="home-text">Barbership motto/slogan</h1> -->
    </div>  
    <div class="home-buttons center">
      <a href="/stylists" class="btn btn-lg btn-success">View All Stylists</a>
    </div>
  </div>