@{
  Layout = "_Layout";
}

  <div class='container'>
    <div class="alert alert-danger">
      <strong>Warning:</strong> Deleting a client cannot be undone!
    </div>
    <p>Are you sure you want to delete @Model.FirstName @Model.LastName?</p>
    <form action="/clients/@Model.Id/delete" method="post">
      <button class="btn btn-success">Yes</button>
    </form>
    <a href="/clients" class="btn btn-danger">No</a>
  </div>